# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# NGL local build/install products
External/ngl-beta/build/
External/ngl-beta/bin/
External/ngl-beta/ann_1.1.2/bin/

# MATLAB compiled MEX outputs
*.mexa64
*.mexmaci64
*.mexw64

# Data files
*.tif
*.png
*.h5
*.off
*.pdf
*.eps
*.avi
*.mat
*.swp
*.jpg
*.gif
*.obj
*.ply
*.asv
*.csv
*.ilp
